ipyleaflet>=0.16.0  # Ch09
numpy               # All
pandas              # All
math                # All
itertools           # Ch04 & Ch09
scipy               # Ch01, 02, 03, 08, 11 & 12 and Appendix A & C
sympy               # Ch02
matplotlib          # CH01, 03, 04, 05, 06, 07, 08, 09, 11 & 12
seaborn             # Ch01, 09, 11 & 12
tqdm                # Ch07, 09, 11 & 12 and Appendix C
folium              # Ch03, 04, 08 & 09 and Appendix C
osmnx>=1.1.2        # Ch03, 04 & 09 and Appednix C
networkx            # Ch03, 04 & 11 and Appendix B
haversine           # Ch04
optalgotools        # Ch04, 05 & 06 and Appendix C
pymoo               # Ch08 and Appendix C
pulp                # Ch02 & 05 and Appendix A & C
or-tools            # Ch06
gurobipy            # Appendix A
pyswarms            # Ch09 and Appendix C
acopy               # Appendix C
torch               # Ch11 and Appendix C
minisom             # Ch11
gym                 # Ch12 and Appendix C
gymnasium           # Ch12
stable_baselines3   # Ch12 and Appendix C
vowpalwabbit        # Ch12 and Appendix C