ipyleaflet>=0.16.0
numpy
pandas
math
itertools
scipy
sympy
matplotlib
seaborn
tqdm
latexify-py
tsplib95
folium
osmnx>=1.1.2
networkx
haversine
optalgotools
pymoo
pulp
or-tools
gurobipy
pyswarms
acopy
torch
minisom
gym
gymnasium
stable_baselines3
vowpalwabbit